<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Bike Shop a Ecommerce Category Flat Bootstarp Responsive Website Template| Bicycles :: w3layouts</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta  ="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta  ="keywords" content="Bike-shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
<!--webfont-->
<!-- dropdown -->
<script src="js/jquery.easydropdown.js"></script>
<link href="css/nav.css" rel="stylesheet" type="text/css" media="all"/>
<script src="js/scripts.js" type="text/javascript"></script>
<!--js-->

</head>
<body>
<!--banner-->
<script src="js/responsiveslides.min.js"></script>
<script>  
    $(function () {
      $("#slider").responsiveSlides({
      	auto: false,
      	nav: true,
      	speed: 500,
         space: "callbacks",
        pager: true,
      });
    });
  </script>
<div class="banner-bg banner-sec">	
	  <div class="container">
			 <div class="header">
			       <div class="logo">
						 <a href="/home"><img src="images/logo.png" alt=""/></a>
				   </div>							 
				  <div class="top-nav">										 
						<label class="mobile_menu" for="mobile_menu">
						<span>Menu</span>
						</label>
						<input id="mobile_menu" type="checkbox">
					   <ul class="nav">
						 
						  <a class="shop" href="cart"><img src="images/cart.png" alt=""/></a>
					  </ul>
				 </div>
				 <div class="clearfix"></div>
			 </div>
	  </div> 				 
</div>
<!--/banner-->
<div class="bikes">		 
	 <div class="mountain-sec">
		 <h2>MOUNTAIN BIKES</h2>
		 <a href="cart?model=bik3"><div class="bike">				 
			 <img src="images/bik3.jpg" alt=""/>
		     <div class="bike-cost">
					 <div class="bike-mdl">
						 <h4>1500 €<span>Model:bik3</span></h4>
					 </div>
					 <div class="bike-cart">						 
						 <a class="buy" href="cart?model=bik3&price=1500">BUY NOW</a>
					 </div>
					 <div class="clearfix"></div>
				 </div>
				  
			 </div></a>
			 <a href="cart?model=bik1"><div class="bike">				 
				 <img src="images/bik1.jpg" alt=""/>
				 <div class="bike-cost">
					 <div class="bike-mdl">
						 <h4>790 €<span>Model:bik1</span></h4>
					 </div>
					 <div class="bike-cart">						 
						 <a class="buy" href="cart?model=bik1&price=790">BUY NOW</a>
					 </div>
					 <div class="clearfix"></div>
				 </div>
				  
			 </div></a>
			 <a href="cart?model=bik4"><div class="bike none2">				 
				 <img src="images/bik4.jpg" alt=""/>
				 <div class="bike-cost">
					 <div class="bike-mdl">
						 <h4>1150 €<span>Model:bik4</span></h4>
					 </div>
					 <div class="bike-cart">						 
						 <a class="buy" href="cart?model=bik4&price=1150">BUY NOW</a>
					 </div>
					 <div class="clearfix"></div>
				 </div>
				  
			 </div></a>
			 <a href="cart?model=bik6"><div class="bike none1">				 
				 <img src="images/bik6.jpg" alt=""/>
				 <div class="bike-cost">
					 <div class="bike-mdl">
						 <h4>973 €<span>Model:bik6</span></h4>
					 </div>
					 <div class="bike-cart">						 
						 <a class="buy" href="cart?model=bik6&price=973">BUY NOW</a>
					 </div>
					 <div class="clearfix"></div>
				 </div>
				  
			 </div></a>
			 <div class="clearfix"></div>
	  </div>
		 
	  <div class="singlespeed-sec">
		   <h2>SINGLE SPEED-BIKES</h2>
			 <a href="cart?model=s1"><div class="bike">				 
				 <img src="images/s1.jpg" alt=""/>
				 <div class="bike-cost">
					 <div class="bike-mdl">
						 <h4>1850 €<span>Model:s1</span></h4>
					 </div>
					 <div class="bike-cart">						 
						 <a class="buy" href="cart?model=s1&price=1850">BUY NOW</a>
					 </div>
					 <div class="clearfix"></div>
				 </div>
				  
			 </div></a>
			 <a href="cart?model=s2"><div class="bike">				 
				 <img src="images/s2.jpg" alt=""/>
				 <div class="bike-cost">
					 <div class="bike-mdl">
						 <h4>1675 €<span>Model:s2</span></h4>
					 </div>
					 <div class="bike-cart">						 
						 <a class="buy" href="cart?model=s2&price=1675">BUY NOW</a>
					 </div>
					 <div class="clearfix"></div>
				 </div>
				  
			 </div></a>
			 <a href="cart?model=s3"><div class="bike none2">				 
				 <img src="images/s3.jpg" alt=""/>
				 <div class="bike-cost">
					 <div class="bike-mdl">
						 <h4>1345 €<span>Model:s3</span></h4>
					 </div>
					 <div class="bike-cart">						 
						 <a class="buy" href="cart?model=s3&price=1345">BUY NOW</a>
					 </div>
					 <div class="clearfix"></div>
				 </div>
				  
			 </div></a>
			 <a href="cart?model=s4"><div class="bike none1">				 
				 <img src="images/s4.jpg" alt=""/>
				 <div class="bike-cost">
					 <div class="bike-mdl">
						 <h4>1042 €<span>Model:s4</span></h4>
					 </div>
					 <div class="bike-cart">						 
						 <a class="buy" href="cart?model=s4&price=1042">BUY NOW</a>
					 </div>
					 <div class="clearfix"></div>
				 </div>
				  
			 </div></a>
			 <div class="clearfix"></div>
		 </div>
		 
		 <div class="road-sec">
		   <h2>ROAD-BIKES</h2>
			 <a href="cart?model=r1"><div class="bike">				 
				 <img src="images/r1.jpg" alt=""/>
				 <div class="bike-cost">
					 <div class="bike-mdl">
						 <h4>490 €<span>Model:r1</span></h4>
					 </div>
					 <div class="bike-cart">						 
						 <a class="buy" href="cart?model=r1&price=490">BUY NOW</a>
					 </div>
					 <div class="clearfix"></div>
				 </div>
				  
			 </div></a>
			 <a href="cart?model=r3"><div class="bike">				 
				 <img src="images/r3.jpg" alt=""/>
				 <div class="bike-cost">
					 <div class="bike-mdl">
						 <h4>820 €<span>Model:r3</span></h4>
					 </div>
					 <div class="bike-cart">						 
						 <a class="buy" href="cart?model=r3&price=820">BUY NOW</a>
					 </div>
					 <div class="clearfix"></div>
				 </div>
				  
			 </div></a>
			 <a href="cart?model=r2"><div class="bike none2">				 
				 <img src="images/r2.jpg" alt=""/>
				 <div class="bike-cost">
					 <div class="bike-mdl">
						 <h4>1290 €<span>Model:r2</span></h4>
					 </div>
					 <div class="bike-cart">						 
						 <a class="buy" href="cart?model=r2&1290">BUY NOW</a>
					 </div>
					 <div class="clearfix"></div>
				 </div>
				  
			 </div></a>
			 <a href="cart?model=r4"><div class="bike none1">				 
				 <img src="images/r4.jpg" alt=""/>
				 <div class="bike-cost">
					 <div class="bike-mdl">
						 <h4>1690 €<span>Model:r4</span></h4>
					 </div>
					 <div class="bike-cart">						 
						 <a class="buy" href="cart?model=r4&price=1690">BUY NOW</a>
					 </div>
					 <div class="clearfix"></div>
				 </div>
				  
			 </div></a>
			 <div class="clearfix"></div>
		 </div>
		 
	 </div>
</div>
<!---->
<div class="footer">
	 <div class="container wrap">
		<div class="logo2">
			 <a href="index.html"><img src="images/logo2.png" alt=""/></a>
		</div>
	
		<div class="clearfix"></div>
	 </div>
</div>
<!---->

</body>
</html>

